<div class="navbar">
    <div class="navbar-inner">
        <div class="w1020px marginauto">
            <ul class="nav ">
                <li class="divider-vertical"></li>
                <li>
                    <a href="~/Index/Index">Trang chủ</a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="~/mycart/mycart">Giỏ Hàng</a></li>
                <li class="divider-vertical"></li>
                <li><a href="~/login/login">Đăng Nhập</a></li>
                <li class="divider-vertical"></li>
                <li><a href="~/login/logon">Đăng Ký</a></li>
                <li class="divider-vertical"></li>         
            </ul>
            <a href="~/mycart/mycart">
            <div style="width: 250px; height: 44px; float: right; padding: 3px 3px;">
                <div style="width: 240px; height: 40px; border: solid #ffffff 1px; background: #ff0303; padding-left: 4px; font-size:11px; color:#ffffff;padding-right: 2px">
                    <img src="~/Images/icon-logo/icon-cart.png" width="40" height="40" />
                    <div style="float: right; width: 180px; height: 18px;">
                        <strong style="font-weight: 700;">Giỏ hàng:</strong>  @Session[WebMobile.Models.MySession.TongSL] sản phẩm.
                       <div style="float: right; width: 180px; height: 18px; padding-bottom: 2px;">
                            <strong style="font-weight: 700;">Tổng tiền:</strong> @String.Format("{0:0,0 Vnđ}", Convert.ToInt32(WebMobile.Models.MySession.COUNT)).
                       </div>
                </div>
            </div>
</div></a>
           
        </div>
    </div>
</div>

