<div class="block bannerw220">
    <ul class="clean">
        <li>
            <a href="#">
                <img src="Images/banner/banner1.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="Images/banner/banner2.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="Images/product/Image 33.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="Images/product/Image 32.png" />
            </a>
        </li>
    </ul>
</div>