<div class="branch">
    <div class="w1020px marginauto">
        <div class="pull-left">
            <img src="~/Images/icon-logo/logo-260x90.png" />
        </div>
        <div class="pull-right">
            <img src="~/Images/icon-logo/banner-top.png" />
        </div>

    </div>
</div>