<!--FOOTER-->
<div class="footer-1">
    <div class="Content-footer">
        <p>Công ty TNHH Thương mại Dịch vụ WebMoblie : 574/15/19 SinCô,Phường An Lạc, Quận Bình Tân, TP.Hồ Chí Minh</p>
        <p>Tel : (84 8)37510433 - (84 8)37510434 ● Fax:(84 8)37510435 ● Website: www.WebMobile.com</p>
        <p>Ghi rõ nguồn "www.WebMobile.com" khi phát hành nội dung từ website.</p>      
    </div>
</div>
<!--END-FOOTER-->