@{
    WebMobile.ServiceReferenceNSX.ServiceNhaSanXuatClient db = new WebMobile.ServiceReferenceNSX.ServiceNhaSanXuatClient();
    ViewData["Gp"] = db.SelectNhaSanXuat().OrderBy(i => i.TenNSX).ToList();
}
@using WebMobile.ServiceReferenceNSX
<div class="block menu-list branch-mobile ">
    <h4 class="pd5x10"> Danh mục</h4>
    <ul class="nav nav-list w190px bs-docs-sidenav ">
       @foreach(var gp in (List<NhaSanXuat>)ViewData["Gp"])
       {
           if (ViewBag.Category==gp.TenNSX)
           {
               <li class="active"><a href="#">@gp.TenNSX</a></li>
           }
           else
           {
               <li>@Html.ActionLink(gp.TenNSX,"Category/"+ gp.MaNSX,"Index")</li>
           }
           
       }
    </ul>
</div>