<div class="block menu-list supportlive">
    <h4 class="pd5x10 ">Hỗ trợ trực tuyến</h4>
    <ul class="nav nav-list w190px ">
        <li>
            <a href="#">
                Kinh doanh 1:
                <img id="lvhelp_stt" src="~/Images/icon-logo/online.gif">
            </a>
        </li>
        <li>
            <a href="#">
                Kinh doanh 2:
                <img id="lvhelp_stt" src="~/Images/icon-logo/online.gif">
            </a>
        </li>
        <li>
            <a href="#">
                Kinh doanh 3:
                <img id="lvhelp_stt" src="~/Images/icon-logo/online.gif">
            </a>
        </li>
        <li>
            <a href="ymsgr:SendIM?myphamhoakim1">
                Kinh doanh 4:
                <img id="lvhelp_stt" src="~/Images/icon-logo/online.gif">
            </a>
        </li>
    </ul>
</div>